@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Erica+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&family=Sigmar+One&family=Titan+One&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: aliceblue;
}

.nav-barwrapper {
  position: fixed;
  width: 100%;
  top: 30px;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

.menu {
  display: flex;
  text-align: center;
  text-decoration: none;
  list-style: none;
  gap: 60px;
}

.maincontnent-wrapper {
  background-image: url(Template/headersectionwatch.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.main-content {
  position: absolute;
  display: flex;
  margin-top: 300px;
  /* margin-left: 1200px; */
  justify-content: space-around;
  width: 100%;
}

.content-main {
  width: 500px;
  height: 200px;
  margin-left: 50px;
}

.content-pic-1 {
  width: 500px;
  height: 500px;
}

.content-pic-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.content-pic-1 img.show {
  opacity: 1;
  transform: translateY(0);
}

.buy-btn {
  padding: 14px 50px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  /* ไล่สีม่วง */
  background: linear-gradient(45deg, #7b2ff7, #a84bff);
  /* เงาเรืองแสง */
  box-shadow: 0 0 15px rgba(168, 75, 255, 0.6);
  transition: all 0.3s ease;
 
}

.buy-btn:hover {
  background: linear-gradient(45deg, #c1a9e7, #be8cec);
  transform: scale(1.05);
  color: black;
  /* เพิ่มความเรืองแสง */
  box-shadow: 0 0 20px rgba(168, 75, 255, 0.9), 0 0 40px rgba(168, 75, 255, 0.6);
}

.buy-btn:active {
  transform: scale(0.97);
}

.logo {
  width: 50px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sportcontent {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url(/Template/headersectionwatch.png);
}

.content-sport {
  width: 1500px;
  height: 100vh;
  position: relative;
}

.content-sport img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* แผ่นสีเทาโปร่งครอบ */
.content-sport::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(128, 128, 128, 0.4);
  /* สีเทาโปร่ง */
}

/* content ด้านบน */
.content-sport .inside-contemtsport {
  top: 360px;
  width: 500px;
  height: 200px;
  position: relative;
  z-index: 2;
  color: rgb(255, 255, 255);
  padding: 40px;
  position: relative;
}

.inside-contemtsport {
  display: flex;
  position: relative;
}

.img-insidesportcontent {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 50px;
  bottom: 50px;
  right: -1150px;
}

.img-insidesportcontent img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.w1{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50px;
  top: -20px;
}



.w2 img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.text-incontent-w1{
   position: absolute;
  left: 120px;
  top: -20px;
}

.bg-content2{
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-image: url(./Template/headersectionwatch.png);
  display: flex;
   justify-content: right;
  align-items: center;

}

.info-content{
  padding-top: 300px;
   padding-left: 300px;
  width:  1000px;
  height: 80vh;
 
  background-color: rgb(35, 35, 35);
}





.img-insidesportcontent-2 {
  width: 800px;
  height: 800px;
  position: absolute;
  right: 900px;
 
}

.img-insidesportcontent-2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.img-insidesportcontent-2 img.show {
  opacity: 1;
  transform: translateY(0);
}
.logo-info-contnet{
  width: 50px;
  height: 50px;  
  
}
.logo-info-contnet img{
  width: 100%;
  height: 100%;  
  object-fit: cover;
  
}
.info-flex{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.content-3{
  display: flex;
  justify-content: center;
  align-items: center;
;
}

.bg-content3{
  padding-top: 100px;
  background-image: url(./Template/bglook.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: rgb(35, 35, 35);
  text-align: center;
  align-items: center;
  
}
.icon-content3{
  width: 120px;
  height: 120px;
  padding-left: 900px;
  
}
.icon-content3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.img-content3{
  width: 800px;
  height: 600px;
}

.img-content3 img{
  width: 100%;
  height: 100% ;
  object-fit: cover;
}
.img-content3{
  padding-left: 600px;
}
a{
  color: #ffffff;
  text-decoration: none
}

a:hover{
  color: #ffffff;
  text-decoration: none;
  font-size: larger;
  color:  rgba(255, 39, 39, 0.767);
}
.cart{
  color: white;
  cursor: pointer;
}
.cart:hover{ 
  color:  rgba(255, 39, 39, 0.767);
  font-size: larger;

}

.User{
  color: white;
  cursor: pointer;
}
.User:hover{
  color:  rgba(255, 39, 39, 0.767);
  font-size: larger;
}



.img-content3 img {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}
.img-content3 img.show {
  opacity: 1;
  transform: translateY(0);
}

.footer{
  width: 100%;
  height: 20vh;
  background-color: rgb(35, 35, 35);
}
.content-footer{
  display: flex;
  justify-content: space-around;
}
.menu-contect{
  display: flex;
  list-style: none;
  gap: 30px;

}
.underline {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, white, transparent);
  box-shadow: 0 0 8px rgba(255,255,255,0.6);
  margin: 20px 0;
}


.mainbuyitem-wrapper{
  background-color: rgb(34, 35, 35);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.mainbuyitem-content{
  position: absolute;
  display: flex;
  margin-top: 300px;
  /* margin-left: 1200px; */
  justify-content: space-around;
  width: 100%;
}


.contentbuyitem-main{

  display: flex;
  column-gap: 300px;

}

.img-product{
  width: 500px;
  height: 500px;

}
.img-product img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-product img{
   opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}
.img-product img.show {
  opacity: 1;
  transform: translateY(0);


}



.colors {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


.qty{
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  width: 50px;
  height: 20px;
  background-color: #000;
  color: white;
  border: none;
  

}
.qty-box{
    display: inline-flex;
    align-items: center;
    background: black;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #444;
}

.qty-box button{
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.qty-box button:hover{
    background: #222;
    
}

.qty-box input{
    width: 50px;
    height: 40px;
    text-align: center;
    border: none;
    outline: none;
    background: black;
    color: white;
    font-size: 16px;
}


.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.dot::after {
    content: attr(data-color);
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.dot:hover::after {
    opacity: 1;
}

.btn-buy{
   width: 200px;
  height: 50px;
   border-radius: 999px;
  cursor: pointer;
  /* ไล่สีม่วง */
  background: linear-gradient(45deg, #7b2ff7, #a84bff);
  /* เงาเรืองแสง */
  box-shadow: 0 0 15px rgba(168, 75, 255, 0.6);
  transition: all 0.3s ease;
  color: white;
  border: none;
  
}
.btn-buy:hover {
  background: linear-gradient(45deg, #c1a9e7, #be8cec);
  transform: scale(1.05);
  color: black;
  /* เพิ่มความเรืองแสง */
  box-shadow: 0 0 20px rgba(168, 75, 255, 0.9), 0 0 40px rgba(168, 75, 255, 0.6);
}

.btn-buy:active {
  transform: scale(0.97);
}







/*  */
.btn-userbuy{
   width: 200px;
  height: 50px;
   border-radius: 999px;
  cursor: pointer;
  /* ไล่สีม่วง */
  background: linear-gradient(45deg, #7b2ff7, #a84bff);
  /* เงาเรืองแสง */
  box-shadow: 0 0 15px rgba(168, 75, 255, 0.6);
  transition: all 0.3s ease;
  color: white;
  border: none;
  
}
.btn-userbuy:hover {
  background: linear-gradient(45deg, #c1a9e7, #be8cec);
  transform: scale(1.05);
  color: black;
  /* เพิ่มความเรืองแสง */
  box-shadow: 0 0 20px rgba(168, 75, 255, 0.9), 0 0 40px rgba(168, 75, 255, 0.6);
}

.btn-userbuy:active {
  transform: scale(0.97);
}


/* overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  backdrop-filter: blur(6px);
  opacity: 0;
  pointer-events: none;  
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.login-modal {
  position: fixed;
  top: 80px;
  right: 30px;
  width: 320px;
  background: rgb(0, 0, 0);
  padding: 24px;
  border-radius: 16px;
  opacity: 0;
  transform: scale(.2) translateY(-20px);
  transform-origin: top right;
  pointer-events: none;
  transition: .35s cubic-bezier(.16,1,.3,1);
  z-index: 1000;
  text-align: center;
  align-items: center;
   box-shadow: 0 0 20px rgba(168, 75, 255, 0.9), 0 0 40px rgba(168, 75, 255, 0.6);
  
}

.login-modal input{
    width: 200px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
.login-modal button{
    width: 200px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 173, 150);
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
    border: none;
    border-radius: 999px;
     
}

.login-modal button:hover{
    box-shadow: 3px 3px 3px black;
     
}

.login-modal.active {
  opacity: 1;
  transform: scale(1) translateY(0);
  pointer-events: auto;
}




/* logout */


.logout-modal {
  position: fixed;
  top: 80px;
  right: 750px;
  width: 320px;
  background: rgb(0, 0, 0);
  padding: 24px;
  border-radius: 16px;
  opacity: 0;
  transform: scale(.2) translateY(-20px);
  transform-origin: top right;
  pointer-events: none;
  transition: .35s cubic-bezier(.16,1,.3,1);
  z-index: 1000;
  text-align: center;
  align-items: center;
   box-shadow: 0 0 20px rgba(168, 75, 255, 0.9), 0 0 40px rgba(168, 75, 255, 0.6);
  
}

.logout-modal input{
    width: 200px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
.logout-modal button{
    width: 200px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 173, 150);
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
    border: none;
    border-radius: 999px;
     
}

.logout-modal button:hover{
    box-shadow: 3px 3px 3px black;
     
}

.logout-modal.active {
  opacity: 1;
  transform: scale(1) translateY(0);
  pointer-events: auto;
}
.fontregis{
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    color: red;
}

.main-register-wrapper{
  background-color: rgb(34, 35, 35);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.registersection-content{
   position: absolute;
  display: flex;
  margin-top: 300px;
  /* margin-left: 1200px; */
  justify-content: space-around;
  width: 100%;
}

.registerform{
  width: 300px;
  height: 50px;
  text-align: center;
  background-color: rgba(188, 123, 250, 0.9) ;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;

}

.registerform:hover{

   box-shadow: 0 0 20px rgba(168, 75, 255, 0.9), 0 0 40px rgba(168, 75, 255, 0.6);
 
}

.registerform:focus {
   box-shadow: 0 0 20px rgba(168, 75, 255, 0.9),
               0 0 40px rgba(168, 75, 255, 0.6);
}


.registerform::placeholder{
  color: white;
  
}
.register-btn {
    padding: 14px 40px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(135deg, #a84bff, #6a00ff);
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

/* hover */
.register-btn:hover {
    box-shadow: 0 0 15px rgba(168, 75, 255, 0.7),
                0 0 30px rgba(168, 75, 255, 0.5);
    transform: translateY(-3px);
}

/* ตอนกด */
.register-btn:active {
    transform: scale(0.95);
}


.white { background: #ffffff; }
.black { background: #000; }
.brown { background: #6b4b2a; }
.blue  { background: #9dd1e8; }
.yellow{ background: #f5f3b2; }
.green  { background: #00e0c2; }
.purple { background: #a000e0; }
