@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Erica+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&family=Sigmar+One&family=Titan+One&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: aliceblue;
}

.nav-barwrapper {
  position: fixed;
  width: 100%;
  top: 30px;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

.menu {
  display: flex;
  text-align: center;
  text-decoration: none;
  list-style: none;
  gap: 60px;
}

.maincontnent-wrapper {
  background-image: url(Template/headersectionwatch.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.main-content {
  position: absolute;
  display: flex;
  margin-top: 300px;
  /* margin-left: 1200px; */
  justify-content: space-around;
  width: 100%;
}

.content-main {
  width: 500px;
  height: 200px;
  margin-left: 50px;
}

.content-pic-1 {
  width: 500px;
  height: 500px;
}

.content-pic-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buy-btn {
  padding: 14px 50px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  /* ไล่สีม่วง */
  background: linear-gradient(45deg, #7b2ff7, #a84bff);
  /* เงาเรืองแสง */
  box-shadow: 0 0 15px rgba(168, 75, 255, 0.6);
  transition: all 0.3s ease;
}

.buy-btn:hover {
  background: linear-gradient(45deg, #c1a9e7, #be8cec);
  transform: scale(1.05);
  color: black;
  /* เพิ่มความเรืองแสง */
  box-shadow: 0 0 20px rgba(168, 75, 255, 0.9), 0 0 40px rgba(168, 75, 255, 0.6);
}

.buy-btn:active {
  transform: scale(0.97);
}

.logo {
  width: 50px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sportcontent {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url(/Template/headersectionwatch.png);
}

.content-sport {
  width: 1500px;
  height: 100vh;
  position: relative;
}

.content-sport img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* แผ่นสีเทาโปร่งครอบ */
.content-sport::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(128, 128, 128, 0.4);
  /* สีเทาโปร่ง */
}

/* content ด้านบน */
.content-sport .inside-contemtsport {
  top: 360px;
  width: 500px;
  height: 200px;
  position: relative;
  z-index: 2;
  color: rgb(255, 255, 255);
  padding: 40px;
  position: relative;
}

.inside-contemtsport {
  display: flex;
  position: relative;
}

.img-insidesportcontent {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 50px;
  bottom: 50px;
  right: -1150px;
}

.img-insidesportcontent img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.w1{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50px;
  top: -20px;
}



.w2 img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.text-incontent-w1{
   position: absolute;
  left: 120px;
  top: -20px;
}

.bg-content2{
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-image: url(./Template/headersectionwatch.png);
  display: flex;
   justify-content: right;
  align-items: center;

}

.info-content{
  padding-top: 300px;
   padding-left: 300px;
  width:  1000px;
  height: 80vh;
 
  background-color: rgb(35, 35, 35);
}





.img-insidesportcontent-2 {
  width: 800px;
  height: 800px;
  position: absolute;
  right: 900px;
 
}

.img-insidesportcontent-2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.logo-info-contnet{
  width: 50px;
  height: 50px;  
  
}
.logo-info-contnet img{
  width: 100%;
  height: 100%;  
  object-fit: cover;
  
}
.info-flex{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
